<div id="container">
    <div id="logo">
        <%- logo %>
    </div>
    <% if (typeof uuid !== "undefined") { %>
        <div id="share-link">
            <strong>Your link has been generated:</strong> <%= baseUrl %>report/<%= uuid %>
        </div>
    <% } %>
    <div class="row">
        <div id="os-info" class="column">
            <h2>System Information</h2>
            <table>
                <tr>
                    <td class="table-item">OS</td>
                    <td><%= js ? user.agent.os : report.agent_os %></td>
                </tr>
                <tr>
                    <td>Platform</td>
                    <td><%= js ? user.agent.platform : report.agent_platform %></td>
                </tr>
                <tr>
                    <td>Browser</td>
                    <td><%= js ? user.agent.browser : report.agent_browser %></td>
                </tr>
                <tr>
                    <td>Browser Version</td>
                    <td><%= js ? user.agent.version : report.agent_version %></td>
                </tr>
                <tr>
                    <td>User Agent String</td>
                    <td><%= js ? user.agent.source : report.agent_source %></td>
                </tr>
            </table>
        </div>
        <div id="ip-info" class="column">
            <h2>IP Information</h2>
            <table>
                <tr>
                    <td class="table-item">IP</td>
                    <td><%= js ? user.ip.source : report.ip %></td>
                </tr>
                <tr>
                    <td>IP: Valid</td>
                    <% if (js) { %>
                        <% if (user.ip.data.isValid) { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } else { %>
                        <% if (report.ip_is_valid == 'true') { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td>IP: Bogon</td>
                    <% if (js) { %>
                        <% if (user.ip.data.isBogon) { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } else { %>
                        <% if (report.ip_is_bogon == 'true') { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td>IP: APIPA</td>
                    <% if (js) { %>
                        <% if (user.ip.data.isApipa) { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } else { %>
                        <% if (report.ip_is_apipa == 'true') { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td>IP: Multicast</td>
                    <% if (js) { %>
                        <% if (user.ip.data.isMulticast) { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } else { %>
                        <% if (report.ip_is_multicast == 'true') { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td>IP: Rfc1918</td>
                    <% if (js) { %>
                        <% if (user.ip.data.isRfc1918) { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } else { %>
                        <% if (report.ip_is_rfc1918 == 'true') { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td>IP: Public</td>
                    <% if (js) { %>
                        <% if (user.ip.data.isPublicIp) { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } else { %>
                        <% if (report.ip_is_public == 'true') { %>
                            <td>✅</td>
                        <% } else { %>
                            <td>❌</td>
                        <% } %>
                    <% } %>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div id="browser-info" class="column">
            <h2>Browser Information</h2>
            <table>
                <tr>
                    <td>Javascript Enabled</td>
                    <td id="javascript-enabled"><%- js ? '<noscript>❌</noscript>' : report.javascript_enabled == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Cookies Enabled</td>
                    <td id="cookies-enabled"><%- js ? '<noscript>❌</noscript>' : report.cookies_enabled == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>AdBlock Enabled</td>
                    <td id="adblock-enabled"><%- js ? '<noscript>❌</noscript>' : report.adblock_enabled == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Do Not Track Enabled</td>
                    <td id="do-not-track-enabled"><%- js ? '<noscript>❌</noscript>' : report.do_not_track_enabled == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Flash Supported</td>
                    <td id="flash-support"><%- js ? '<noscript>❌</noscript>' : report.flash_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Java Supported</td>
                    <td id="java-support"><%- js ? '<noscript>❌</noscript>' : report.java_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>WebSockets Supported</td>
                    <td id="websocket-support"><%- js ? '<noscript>❌</noscript>' : report.websocket_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>WebAudio Supported</td>
                    <td id="webaudio-support"><%- js ? '<noscript>❌</noscript>' : report.webaudio_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>WebGL Supported</td>
                    <td id="webgl-support"><%- js ? '<noscript>❌</noscript>' : report.webgl_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>WebVR Supported</td>
                    <td id="webvr-support"><%- js ? '<noscript>❌</noscript>' : report.webvr_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Service Worker Supported</td>
                    <td id="service-worker-support"><%- js ? '<noscript>❌</noscript>' : report.service_worker_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Local Storage Supported</td>
                    <td id="local-storage-support"><%- js ? '<noscript>❌</noscript>' : report.local_storage_support == 'true' ? '✅' : '❌' %></td>
                </tr>
                <tr>
                    <td>Locale</td>
                    <td id="locale"><%- js ? '<noscript>❌</noscript>' : report.locale != '' ? report.locale : '❌' %></td>
                </tr>
                <tr>
                    <td>Browser size</td>
                    <td id="browser-size"><%- js ? '<noscript>❌</noscript>' : report.browser_size != '' ? report.browser_size : '❌' %></td>
                </tr>
                <tr>
                    <td>Screen size</td>
                    <td id="screen-size"><%- js ? '<noscript>❌</noscript>' : report.screen_size != '' ? report.screen_size : '❌' %></td>
                </tr>
                <tr>
                    <td>Color depth</td>
                    <td id="color-depth"><%- js ? '<noscript>❌</noscript>' : report.color_depth != '' ? report.color_depth : '❌' %></td>
                </tr>
                <tr>
                    <td>Device Pixel Ratio</td>
                    <td id="device-pixel-ratio"><%- js ? '<noscript>❌</noscript>' : report.device_pixel_ratio != '' ? report.device_pixel_ratio : '❌' %></td>
                </tr>
            </table>
        </div>
        <% if (js) { %>
            <div id="share-info" class="column">
                <h2>Share</h2>
                <% if (typeof uuid !== "undefined") { %>
                    <strong>Your link has been generated:</strong><br/><br/>
                    <%= baseUrl %>report/<%= uuid %>
                <% } %>
                <% if (typeof uuid === "undefined") { %>
                    Use the button below to create a sharable link for people who need this system's information:<br/>
                    <form action="/" method="post">
                <% } %>
                        <input type="text" name="agent_os" value="<%= user.agent.os %>" hidden/>
                        <input type="text" name="agent_platform" value="<%= user.agent.platform %>" hidden/>
                        <input type="text" name="agent_browser" value="<%= user.agent.browser %>" hidden/>
                        <input type="text" name="agent_version" value="<%= user.agent.version %>" hidden/>
                        <input type="text" name="agent_source" value="<%= user.agent.source %>" hidden/>

                        <input type="text" name="ip" value="<%= user.ip.source %>" hidden/>
                        <input type="text" name="ip_is_valid" value="<%= user.ip.data.isValid %>" hidden/>
                        <input type="text" name="ip_is_bogon" value="<%= user.ip.data.isBogon %>" hidden/>
                        <input type="text" name="ip_is_apipa" value="<%= user.ip.data.isApipa %>" hidden/>
                        <input type="text" name="ip_is_multicast" value="<%= user.ip.data.isMulticast %>" hidden/>
                        <input type="text" name="ip_is_rfc1918" value="<%= user.ip.data.isRfc1918 %>" hidden/>
                        <input type="text" name="ip_is_public" value="<%= user.ip.data.isPublicIp %>" hidden/>

                        <input type="text" name="javascript_enabled" value="" hidden/>
                        <input type="text" name="cookies_enabled" value="" hidden/>
                        <input type="text" name="adblock_enabled" value="" hidden/>
                        <input type="text" name="do_not_track_enabled" value="" hidden/>
                        <input type="text" name="flash_support" value="" hidden/>
                        <input type="text" name="java_support" value="" hidden/>
                        <input type="text" name="websocket_support" value="" hidden/>
                        <input type="text" name="webaudio_support" value="" hidden/>
                        <input type="text" name="webgl_support" value="" hidden/>
                        <input type="text" name="webvr_support" value="" hidden/>
                        <input type="text" name="service_worker_support" value="" hidden/>
                        <input type="text" name="local_storage_support" value="" hidden/>
                        <input type="text" name="locale" value="" hidden/>
                        <input type="text" name="browser_size" value="" hidden/>
                        <input type="text" name="screen_size" value="" hidden/>
                        <input type="text" name="color_depth" value="" hidden/>
                        <input type="text" name="device_pixel_ratio" value="" hidden/>
                <% if (typeof uuid === "undefined") { %>
                        <input type="submit" value="Create share link"/>
                    </form>
                <% } %>
            </div>
        <% } else { %>
            <div id="share-info" class="column">
                <h2>Report Info</h2>
                <table>
                    <tr>
                        <td class="table-item">UUID</td>
                        <td><%= report.uuid %></td>
                    </tr>
                    <tr>
                        <td>Created On</td>
                        <td><%= new Date(report.created) %></td>
                    </tr>
                </table>
            </div>
        <% } %>
    </div>
</div>
